# large directories of files (simulations, structures ThermoML, etc)
stored_data/*

# VSCode config files
launch.json
NIST_data2/ThermoML*
NIST_data2/10.*
NIST_data2/tests*
NIST_data2/tml_database*.csv